APP_NAME="Endless Compound"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://endless-compound.test

DB_CONNECTION=supabase
DB_HOST=
DB_PORT=5432
DB_DATABASE=postgres
DB_USERNAME=postgres
DB_PASSWORD=
DB_SSLMODE=require

SESSION_DRIVER=file
CACHE_STORE=file
